<div class="content-main">
    <div id="generate-number-form-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            Create A Password<br>
            <input type="text" formControlName="password"><br><br>
            Confirm Password<br>
            <input type="password" formControlName="confirmPassword"><br><br>
            <button type="submit">Generate SecureChat Number</button><br><br>
        </form>
        OR<br>
        <a routerLink="/">Go To Login</a>
    </div>
    <div *ngIf="registrationResponse" id="registration-success-details">
        <span>Your number has been generated</span><br>
        <span>Note this and share with people so they can discover you:
            <b>{{registrationResponse.secureChatNumber}}</b>
        </span>
    </div>
</div>