.content-main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generate-number-form-container{
    width: 30%;
    text-align: center;
    color: chocolate;
    border-radius: 10%;
}

#generate-number-form-container input {
    width: 80%;
    height: 20px;
}
#generate-number-form-container button {
    width: 80%;
    height: 20px;
    background-color: chocolate;
    color: white;
}